.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    height: 100vh;
    gap: 5px;
    grid-template-areas: 
    "a a a b b"
    "a a a c c"
    "d d d d d"
    "e f g h i";

}
.item>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item-1{
    background-color: palevioletred;
    grid-area: a;
}
.item-2{
    background-color: purple;
    grid-area: b;
}
.item-3{
    background-color: red;
    grid-area: c;
}
.item-4{
    background-color: green;
    grid-area: d;
}
.item-5{
    background-color: yellow;
    grid-area: e;
}
.item-6{
    background-color: black;
    grid-area: f;
}
.item-7{
    background-color:blue;
    grid-area: g;
}
.item-8{
    background-color: lawngreen;
    grid-area: h;
}
.item-9{
    background-color: red;
    grid-area: i;
}