
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}


.top-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightslategray;
    padding: 10px;
    font-weight: bold;
    border-bottom: 1px solid lightslategray;
}


.sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    height: calc(100% - 50px);
    padding: 20px 10px;
    border-right: 1px solid lightslategray;
}

.sidebar i {
    font-size: 24px;
    margin: 20px 0;
    cursor: pointer;
}

main {
    margin-left: 60px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-image {
    max-width: 90%;
    height: auto;
    display: block;
}


.bottom-toolbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid lightslategray;
}

.bottom-toolbar i {
    font-size: 24px;
    cursor: pointer;
}
