body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border: 2px solid #333;
    background-color: white;
}

.first-images-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.second-images-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
}

.item-container img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.image-name {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}
p{
    top: -70px;
    position: relative;
}