*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container1{
    background-color:darkgray;
    width:400px;
    height:400px;
    margin-top: 50px;
    border:2px solid black;
    padding-top:20px;

}
.container2{
    background-color:lightskyblue;
    width:400px;
    height:400px;
    margin-top: 50px;
    border:2px solid black;
    padding-top:20px;

}
.container3{
    background-color:lightgoldenrodyellow;
    width:400px;
    height:400px;
    margin-top: 50px;
    border:2px solid black;
    padding-top:20px;

}
.container4{
    background-color:lightseagreen;
    width:400px;
    height:400px;
    margin-top: 50px;
    border:2px solid black;
    padding-top:20px;

}