.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 700px;
    gap: 10px;
}

.item {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.item > .cont {
    transform: rotate(45deg); 
    height: 50px;
    width: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont > .num > h2 {
   transform: rotate(-45deg);
   margin: 0;
   font-size: 18px;
}

 
.item1 {
    background-color: rgb(172, 160, 172);
    grid-row: 1 / 3;
    grid-column: 1 / 4;
}
.item2 {
    background-color: rgb(145, 138, 144);
    grid-row: 3 / 4;
    grid-column: 1 / 6;
}
.item3 {
    background-color: rgb(174, 179, 179);
    grid-row: 1 / 2;
    grid-column: 4 / 6;
}
.item4 {
    background-color: rgb(189, 195, 195);
    grid-row: 2 / 3;
    grid-column: 4 / 6;
}
.item5 {
    background-color: rgb(176, 139, 139);
}
.item6 {
    background-color: rgb(162, 126, 126);
}
.item7 {
    background-color: rgb(163, 140, 140);
}
.item8 {
    background-color: rgb(151, 132, 132);
}
.item9 {
    background-color: rgb(139, 121, 121);
}
