.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item{
    padding: 10px;
    font-size: 2rem;
    text-align: center;
}
.item-1{
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-2{
    background-color: antiquewhite;
    grid-column-start: 1;
    grid-column-end: 3;
}
.item-3{
    background-color: beige;
}
.item-4{
    background-color:limegreen;
}
.item-5{
    background-color: blueviolet;
}
.item-6{
    background-color: burlywood;
}